<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyCarthageFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F4813761D85116000A7374E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F48138A1D85116000A7374E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F4813951D85116000A7374E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF8B2C621E7ED421005A698D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF8B2C6A1E7ED421005A698D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
